body {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer:
  margin: 0;

}

h1 {
  font-size: 2.5em;
  font-family: 'Helvetica', 'Arial', Sans-serif;
  text-align: center
}

#hand-up-div {
  background-color: #2E006A;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#hand-up-div #emoji {
  font-size: 20em;

}

#hand-down-div {
  background-color: #ECECEC;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
