body {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer:

}

h1 {
  font-size: 5em;
  font-family: 'Helvetica', 'Arial', Sans-serif;
}

#hand-up-div {
  background-color: #E9FB9E;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

#hand-up-div #emoji {
  font-size: 20em;

}

#hand-down-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
